/* CSS Document */


*	{
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


body	{
	
	background: white;
	font-family: 'source sans pro', 'Helvetica', sans-serif;
	font-weight: 300;
	background-image: url(media/images/start.png);

}


header {
	position:fixed;
	width:100%;
	z-index: 100;
}


.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


/* Startseite Navigation --------------------------------- */

header {
	height: 100px;
	top: 0;
	transition: top 0.5s ease-in-out;
}

.nav-up {
	top: -100px; 
}



#start-navibackground {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.70) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.70)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.70) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.70) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.70) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.70) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */


}

#logo{
	font-family: 'source serif pro';
	font-size: 18px;
	width: 57%;
	text-align: center;
	float: left;
	display:block;
	letter-spacing: 1px;

}

#start-navigation	{
	width: 43%;
	float:left;
	display:block;
}



.unterliste>li	{
	float:right;

}



/* Unterseite Navigation -> noch Leute fragen --------------------------------- */


#navigation	{
	width: 43%;
	float:left;
	display:block;
}



#navibackground {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100px;
	opacity: 0.3;
	background: #298441;

}




nav a {
	text-decoration:none;
	color: white;
	padding-left: 50px;
	font-size: 14;

}

nav a:hover {
	opacity: 0.8;

}

ul {
	list-style: none;
	padding-left:0;
	padding-top: 20px;
	padding-right: 50px;
	position: static;	
}


/* Start Main --------------------------------- */




.uebertitel {
	position: absolute;
	z-index: 100;
	width: 100%;
	color: white;
	text-align: center;
	padding-top: 30%;

}


.uebertitel>h1 {
	font-size: 3vw;
	font-weight: 400;
	margin: 0;
}

.uebertitel>h3 {
	font-size: 1.5vw;
	font-weight: 300;
	margin: 0;
}

.uebertitel-zoom{
	-moz-transition:all 0.8s ease-in-out;
	-webkit-transition:all 0.8s ease-in-out;
	-o-transition:all 0.8s ease-in-out;
	-ms-transition:all 0.8s ease-in-out;
	transition:all 0.8s ease-in-out;
	transform: scale(1.01);
}

.bgimage {
	position: relative;
	width: 100%;
	height: 100%;
	-ms-background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	-moz-transition:all 0.8s ease-in-out;
	-webkit-transition:all 0.8s ease-in-out;
	-o-transition:all 0.8s ease-in-out;
	-ms-transition:all 0.8s ease-in-out;
	transition:all 0.8s ease-in-out;



	opacity: 1;
}

.img-zoom{
	-moz-transform: scale(1.01);
	-webkit-transform: scale(1.01);
	-o-transform: scale(1.01);
	-ms-transform: scale(1.01);
	transform: scale(1.01);
	opacity: 0.25;
}



.button {
	letter-spacing: 2px;
	font-size: 2.5vw;
	background-color:transparent;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	border-radius:3px;
	border:1px solid white;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-weight:200;
	padding:12px 27px;
	text-decoration:none;
}


.button-wrapper {
	position: absolute;
	top: 70%;
	width: 100%;
	text-align: center;
}

.mask {
	position:absolute; 
	top:0;
	left:0;
	width:100%;
	height:100%;
	cursor:pointer;
	
	-moz-transition:all 0.8s ease-in-out;
	-webkit-transition:all 0.8s ease-in-out;
	-o-transition:all 0.8s ease-in-out;
	-ms-transition:all 0.8s ease-in-out;
	transition:all 0.8s ease-in-out;

}

.inhalt{
	background: #000;
}

.start-effect{
	/*background-color: rgba(0, 0, 0, 0.75);*/
	opacity: 1;
	-moz-transition:all 0.8s ease-in-out;
	-webkit-transition:all 0.8s ease-in-out;
	-o-transition:all 0.8s ease-in-out;
	-ms-transition:all 0.8s ease-in-out; 
	transition:all 0.8s ease-in-out;
	
}



/* Unterseiten Main --------------------------------- */

.abstand-oben {
	width:100%;
	height: 100px;
}


.ueberbild {
	position: relative;
	width: 100%;
	height: 100%;
	-moz-transition:all 0.8s ease-in-out;
	-webkit-transition:all 0.8s ease-in-out;
	-o-transition:all 0.8s ease-in-out;
	-ms-transition:all 0.8s ease-in-out;
	transition:all 0.8s ease-in-out;
	opacity: 1;
}


.text {
	width: 100%;
	padding: 2vw 10vw 1vw;
}

.uebertext-titel h1 {
	padding-bottom: 1vw;
	width: 100%;
	font-weight: 400;
	font-size: 2.6vw;
	line-height: 2.8vw;
	color: #9E9E9E;
}

.uebertext>p {
	width: 100%;
	padding-bottom: 1vw;
	text-align: left;
	font-size: 1.3vw;
	line-height: 1.6vw;
	column-count: 2;
	column-gap: 8vw;
	column-rule: 0px choose #000000;
	-moz-column-count: 2;
	-moz-column-gap: 8vw;
	-moz-column-rule: 0px choose #000000;
	-webkit-column-count: 2;
	-webkit-column-gap: 8vw;
	-webkit-column-rule: 0px choose #000000;
	-o-column-count: 2;
	-o-webkit-column-gap: 8vw;
	-o-webkit-column-rule: 0px choose #000000;
	-ms-column-count: 2;
	-ms-column-gap: 8vw;
	-ms-column-rule: 0px choose #000000;
}

.kontakt-text>p {
	width: 50%;
	padding-bottom: 1vw;
	text-align: left;
	font-size: 1.3vw;
	line-height: 1.6vw;	
}

/* Unser-Bauernhof Untermenu --------------------------------- */

.unser-bauernhof-untermenu {
	min-width: 100%;
	display:-ms-flex;
	display:-o-flex;
	display:-moz-flex;
	display:-webkit-flex;
	display:flex;
	flex-direction: column;
}

.felx-container-bh-nav {
	flex-direction: row;
	display:-ms-flex;
	display:-o-flex;
	display:-moz-flex;
	display:-webkit-flex;
	display:flex;
}

.unser-bauernhof-untermenu img {
	width: 100%;
	height: 100%;
	float: left;
	display:-ms-flex;
	display:-o-flex;
	display:-moz-flex;
	display:-webkit-flex;
	display:flex;
}

/* Über uns Portraits Sektion --------------------------------- */


.portraits-container {
	display:-ms-flex;
	display:-o-flex;
	display:-moz-flex;
	display:-webkit-flex;
	display:flex;
	flex-direction: row;
}

.img-container{
	display:-ms-flex;
	display:-o-flex;
	display:-moz-flex;
	display:-webkit-flex;
	display:flex;
	width:50%;
}

.img-container img {
	width: 100%;
	height: 100%;

}

.angaben-container {
	display:-ms-flex;
	display:-o-flex;
	display:-moz-flex;
	display:-webkit-flex;
	display:flex;

	background: #EEEEEE;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	width: 50%;
}

.angaben-container h2 {
	transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	font-weight: 400;
	font-size: 2.4vw;
	line-height: 2.8vw;
	color: #9E9E9E;
	text-align: center;

	position:absolute; 
	width: 100%;
	margin-top: 25%;
	transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-webkit-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;

	visibility: visible;
	opacity: 0;
}

.angaben-container p {
	transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	display: block;
	width: 100%;
	clear: both;
	text-align: center;
	font-size: 1.1vw;
	line-height: 2vw;

	position:absolute; 
	width: 100%;
	margin-top: 30%;
	transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-webkit-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	visibility: visible;
	opacity: 0;
}

/* Unsere Tiere Slider Sektion -> grau improvisiert --------------------------------- */

.slider {

}

.slider-uebercontainer {

}

.grau-container {

}

/* Über uns transitions --------------------------------- */

.portraits-container:hover .zoom {
	visibility: visible;
	opacity: 1;
	-moz-transition:all 0.8s ease-in-out;
	-webkit-transition:all 0.8s ease-in-out;
	-o-transition:all 0.8s ease-in-out;
	-ms-transition:all 0.8s ease-in-out;
	transition:all 0.8s ease-in-out;
	-moz-transform: scale(1.03);
	-webkit-transform: scale(1.03);
	-o-transform: scale(1.03);
	-ms-transform: scale(1.0);
	transform: scale(1.03);
}

/* Anfragen -> Events & Hoflaedeli --------------------------------- */


.anfragen {
	padding: 6vw 10vw 8vw;
	text-align: center;
}

.anfragen h3 {
	font-weight: 300;
}

.anfragen a {
	color: #9E9E9E;
	font-weight: 600;
	font-size: 2.8vw;
	line-height: 2.8vw;
	text-decoration: none;
}

.anfragen a:hover {
	color: #000000;
	font-weight: 600;
	font-size: 2.8vw;
	line-height: 2.8vw;
	text-decoration: none;
}


/* Hoflädeli --------------------------------- */

.text h3 {
	font-size: 2vw;
	font-weight: 300;	
}

.grau-container {
	width:100%;
	height: 100%;
	background: #EEEEEE;
}

.oeffnungszeiten {
	padding: 1vw 31vw 4vw;
}

.oeffnungszeiten p {
	text-align: center;
	width: 100%;
	font-size: 1.3vw;
	line-height: 2vw;

}

/* Kontakt --------------------------------- */

#map-canvas {
	width: 100%;
	height: 42.5vw;  /* (bildgrösse/4 *3) */

}

/*#markerLayer img {
	width: 100% !important;
	height: 100% !important;
}
*/

.kontakt-submit-info{
	width: 100%;
	height: 100%;
}

.pure-form {
	width: 100%;
	margin-left: 7vw;
	font-family: SourceSansPro-Regular;
	font-size: 1.3vw;
	font-color: #AAB2BD;
	line-height: 25px;
	margin-right: 0;
	padding-left: 0;
	border-radius: 3px;

}



.grau-container-kontakt {  
	position: static;
	padding: 2vw 0vw 5vw; /*wieso??*/
	width:100%;
	height: 100%;
	background: #EEEEEE;
}


.adresse {
	width: 100%;
	font-size: 1.3vw;
	padding-right: 7vw;
}



/* Form --------------------------------- */



.form-style-6{
	font-size: 1.3vw;
	width: 60%;
	float: left;
/*	margin: 2vw auto;
*/	padding: 0vw 3vw 0vw 7vw;
/*	background: #F7F7F7;
*/	border-radius: 3px;

}

.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 1vw;
	border: 1px solid #ccc;
	padding: 1vw;
	color: #555;
	border-radius: 3px;
}


.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus{
	box-shadow: 0 0 0.1vw #4A89FF;
	padding: 1vw;

}


.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 1vw;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;    
	color: #fff;

	/* Rectangle 65: */
	background: #4A89DC;
	border: 1px solid rgba(121,125,128,0.30);
	border-radius: 3px;
	box-shadow: 0px 1px 5px 0px rgba(171,175,179,0.60), 
	inset 0px -2px 2px 0px rgba(121,125,128,0.20);
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
	background: #4A89FF;
}

textarea {
	height: 10vw;
}

/*.kontakt-flex-uebercontainer {
	display:-webkit-flex;
	display:flex;
	width: 100%;
}

.kontakt-flex-container {
	display:-webkit-flex;
	display:flex;
	-webkit-flex:1;

}

.kontakt-flex-container2 {
	display:-webkit-flex;
	display:flex;
	-webkit-flex:3;

	}*/

	/* Zitat --------------------------------- */

	.zitat {
		padding: 2vw 10vw 0.3vw;
		text-align: center;
		color: #9E9E9E;

	}

	.zitat h1 {
		font-weight: 400;
		font-style: italic;
		font-size: 2.6vw;
		line-height: 2.8vw;

	}

	.zitat h6 {
		font-weight: 400;
		font-size: 1.1vw;
		line-height: 1.3vw;
		margin-top: 0vw;
	}

	/* Main Navigation --------------------------------- */



	.main-navigation {
		margin-top: -5px; /* vorübergehend */
		display:-ms-flex;
		display:-o-flex;
		display:-moz-flex;
		display:-webkit-flex;
		display:flex;

	}

	.nav-container {
		min-width: 100%;
		display:-ms-flex;
		display:-o-flex;
		display:-moz-flex;
		display:-webkit-flex;
		display:flex;
		flex-direction: column;
	}

	.flex-container1 {
		display:-ms-flex;
		display:-o-flex;
		display:-moz-flex;
		flex-direction: row;
		display:-webkit-flex;
		display:flex;

	}

	.flex-container2 {
		display:-ms-flex;
		display:-o-flex;
		display:-moz-flex;
		flex-direction: row;
		display:-webkit-flex;
		display:flex;

	}

	.nav-container img {
		width: 100%;
		height: 100%;
		float: left;
		display:-ms-flex;
		display:-o-flex;
		display:-moz-flex;
		display:-webkit-flex;
		display:flex;

	}

	.view {
		overflow: hidden;
		position: relative;
		text-align: center;
		cursor: default;
		width: 100%;

	}



	.effect .mask {
		position:absolute; /* Center the mask */
		top:0;
		left:0;
		width:100%;
		height:100%;
		cursor:pointer;
		display: inline-block;
		background-color: rgba(0, 0, 0, 0.75);
		opacity:1;
		visibility:visible;
		-moz-transition:all 0.8s ease-in-out;
		-webkit-transition:all 0.8s ease-in-out;
		-o-transition:all 0.8s ease-in-out;
		-ms-transition:all 0.8s ease-in-out;
		transition:all 0.8s ease-in-out;
	}

	.effect:hover .mask {
		opacity: 0;
		background-color: rgba(0, 0, 0, 0.75);
		visibility:hidden;
	}

	.effect img {
		transition: all 0.8s ease-in-out;
		-moz-transition: all 0.8s ease-in-out;
		-webkit-transition: all 0.8s ease-in-out;
		-o-transition: all 0.8s ease-in-out;
		-ms-transition: all 0.8s ease-in-out;

	}

	.effect:hover img {
		transform: scale(1.02);
		-moz-transform: scale(1.02);
		-webkit-transform: scale(1.02);
		-o-transform: scale(1.02);
		-ms-transform: scale(1.02);
	}

	.navigation-title {
		z-index: 1000;
		color: white;
		position:absolute; 
		width: 100%;
		margin-top: 33%;
		font-weight: 400;
		font-size: 2.5vw;
		transition: all 0.8s ease-in-out;
		-moz-transition: all 0.8s ease-in-out;
		-webkit-transition: all 0.8s ease-in-out;
		-o-transition: all 0.8s ease-in-out;
		-ms-transition: all 0.8s ease-in-out;
	}

	.effect:hover .navigation-title {
		transform: scale(0.98);
		-moz-transform: scale(0.98);
		-webkit-transform: scale(0.98);
		-o-transform: scale(0.98);
		-ms-transform: scale(0.98);
	}

	/* effect unser bauernhof nav --------------------------------- */


	.grid {
		position: relative;
		clear: both;
		margin: 0 auto;
		padding: 1em 0 4em;
		width: 100%;
		/*	height: 100%;*/
		height: 37.5vw;
		list-style: none;
		text-align: center;
	}

	/* Common style */
	.grid figure {
		position: relative;
		float: left;
		overflow: hidden;
		margin: 0em 0em;
		width: 100%;
		height: 100%;
		width: 50%;
		height: auto;
		background: #3085a3;
		text-align: center;
		cursor: pointer;
	}

	.grid figure img {
		position: relative;
		display: block;
		height: 100%;
		width: 100%;
		opacity: 0.8;
	}

	.grid figure figcaption {
		width: 100%;
		height: 100%;
		padding: 0;
		color: #fff;
		/*	text-transform: uppercase;*/
		font-size: 1.8vw;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	.grid figure figcaption::before,
	.grid figure figcaption::after {
		pointer-events: none;
	}

	.grid figure figcaption,
	.grid figure figcaption > a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	/* Anchor will cover the whole item by default */
	/* For some effects it will show as a button */
	.grid figure figcaption > a {
		z-index: 1000;
		text-indent: 200%;
		white-space: nowrap;
		font-size: 0;
		opacity: 0;
	}

	.grid figure h2 {
		padding-top: 5vw;
		word-spacing: 0.15vw;
		font-weight: 500;
		font-size: 2.5vw;
	}



	.grid figure h2,
	.grid figure p {
		margin: 0;
	}

	.grid figure p {
		letter-spacing: 1px;
		font-size: 78.5%;
	}

	/* Effenct ---------------*/



	figure.effect-ming {
		background: #030c17;
	}

	figure.effect-ming img {
		width: 100%;
		height: 100%;
		opacity: 0.95;
		-webkit-transition: opacity 0.8s;
		transition: opacity 0.8s;
	}

	figure.effect-ming figcaption::before {
		position: absolute;
		top: 30px;
		right: 30px;
		bottom: 30px;
		left: 30px;
/*	border: 2px solid #fff;
box-shadow: 0 0 0 30px rgba(255,255,255,0.2);*/
content: '';
opacity: 0;
-webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
transition: opacity 0.8s, transform 0.8s;
-webkit-transform: scale3d(1.4,1.4,1);
transform: scale3d(1.4,1.4,1);
}

figure.effect-ming h2 {
	margin: 20% 0 10px 0;
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
}

figure.effect-ming p {
	padding: 1em;
	opacity: 0;
	-webkit-transition: opacity 0.8ss, -webkit-transform 0.8s;
	transition: opacity 0.8s, transform 0.8s;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

figure.effect-ming:hover h2 {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

figure.effect-ming:hover figcaption::before,
figure.effect-ming:hover p {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.effect-ming:hover figcaption {
	background-color: rgba(58,52,42,0);
}

figure.effect-ming:hover img {
	opacity: 0.4;
}

/*---------------------------------------------------------
--------------------- Slider ------------------------------
----------------------------------------------------------*/



/*---------------------------------------------------------
--------------------- Media Queries -----------------------
----------------------------------------------------------*/


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
	/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
	/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
	/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
	/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
	/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
	/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
	/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
	/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
	/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
	/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
	/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
	/* Styles */
}