/* CSS Document */


*	{
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


body	{
	
	background: white;
	font-family: 'source sans pro', 'Helvetica', sans-serif;
	font-weight: 300;
    background-image: url(media/images/start.png);

}


header {
	position:fixed;
	width:100%;
	z-index: 100;
}


.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


/* Startseite Navigation --------------------------------- */

header {
    height: 100px;
    top: 0;
    transition: top 0.5s ease-in-out;
}

.nav-up {
  top: -100px; 
}



#start-navibackground {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.40) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.40)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.40) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.40) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.40) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.40) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */


}

#logo{
	font-family: 'source serif pro';
	font-size: 18px;
	width: 57%;
	text-align: center;
	float: left;
	display:block;
	letter-spacing: 1px;

}

#start-navigation	{
	width: 43%;
	float:left;
	display:block;
}



.unterliste>li	{
	float:right;

}



/* Unterseite Navigation -> noch Leute fragen --------------------------------- */


#navigation	{
	width: 43%;
	float:left;
	display:block;
}



#navibackground {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100px;
	opacity: 0.3;
	background: #298441;

}




nav a {
	text-decoration:none;
	color: white;
	padding-left: 50px;
	font-size: 14;

}

nav a:hover {
	opacity: 0.8;

}

ul {
	list-style: none;
	padding-left:0;
	padding-top: 20px;
	padding-right: 50px;
	position: static;	
}


/* Start Main --------------------------------- */




.uebertitel {
	position: absolute;
	z-index: 100;
	width: 100%;
	color: white;
	text-align: center;
	padding-top: 30%;

}


.uebertitel>h1 {
	font-size: 3vw;
	font-weight: 400;
	margin: 0;
}

.uebertitel>h3 {
	font-size: 1.5vw;
	font-weight: 300;
	margin: 0;
}

.uebertitel-zoom{
	-moz-transition:all 0.8s ease-in-out;
	-webkit-transition:all 0.8s ease-in-out;
	-o-transition:all 0.8s ease-in-out;
	-ms-transition:all 0.8s ease-in-out;
	transition:all 0.8s ease-in-out;
	transform: scale(1.01);
}

.bgimage {
	position: relative;
	width: 100%;
	height: 100%;
	-ms-background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	-moz-transition:all 0.8s ease-in-out;
	-webkit-transition:all 0.8s ease-in-out;
	-o-transition:all 0.8s ease-in-out;
	-ms-transition:all 0.8s ease-in-out;
	transition:all 0.8s ease-in-out;



	opacity: 1;
}

.img-zoom{
	-moz-transform: scale(1.01);
	-webkit-transform: scale(1.01);
	-o-transform: scale(1.01);
	-ms-transform: scale(1.01);
	transform: scale(1.01);
	opacity: 0.25;
}



.button {
	letter-spacing: 2px;
	font-size: 2.5vw;
	background-color:transparent;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	border-radius:3px;
	border:1px solid white;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-weight:200;
	padding:12px 27px;
	text-decoration:none;
}


.button-wrapper {
	position: absolute;
	top: 70%;
	width: 100%;
	text-align: center;
}

.mask {
	position:absolute; 
	top:0;
	left:0;
	width:100%;
	height:100%;
	cursor:pointer;
	
	-moz-transition:all 0.8s ease-in-out;
	-webkit-transition:all 0.8s ease-in-out;
	-o-transition:all 0.8s ease-in-out;
	-ms-transition:all 0.8s ease-in-out;
	transition:all 0.8s ease-in-out;

}

.inhalt{
	background: #000;
}

.start-effect{
	/*background-color: rgba(0, 0, 0, 0.75);*/
	opacity: 1;
	-moz-transition:all 0.8s ease-in-out;
	-webkit-transition:all 0.8s ease-in-out;
	-o-transition:all 0.8s ease-in-out;
	-ms-transition:all 0.8s ease-in-out; 
	transition:all 0.8s ease-in-out;
	
}



/* Unterseiten Main --------------------------------- */

.abstand-oben {
	width:100%;
	height: 100px;
}


.ueberbild {
	position: relative;
	width: 100%;
	height: 100%;
	-moz-transition:all 0.8s ease-in-out;
	-webkit-transition:all 0.8s ease-in-out;
	-o-transition:all 0.8s ease-in-out;
	-ms-transition:all 0.8s ease-in-out;
	transition:all 0.8s ease-in-out;
	opacity: 1;
}


.text {
	width: 100%;
	padding: 2vw 10vw;
}

.uebertext-titel h1 {
	padding-bottom: 1vw;
	width: 100%;
	font-weight: 400;
	font-size: 2.6vw;
	line-height: 2.8vw;
	color: #9E9E9E;
}

.uebertext>p {
	width: 100%;
	padding-bottom: 2vw;
	column-count: 2;
	column-gap: 8vw;
	column-rule: 0px choose #000000;
	-moz-column-count: 2;
	-moz-column-gap: 8vw;
	-moz-column-rule: 0px choose #000000;
	-webkit-column-count: 2;
	-webkit-column-gap: 8vw;
	-webkit-column-rule: 0px choose #000000;
	-o-column-count: 2;
	-o-webkit-column-gap: 8vw;
	-o-webkit-column-rule: 0px choose #000000;
	-ms-column-count: 2;
	-ms-column-gap: 8vw;
	-ms-column-rule: 0px choose #000000;
	text-align: left;
	font-size: 1.3vw;
	line-height: 1.6vw;
}

/* Unser-Bauernhof Untermenu --------------------------------- */

.unser-bauernhof-untermenu {
	min-width: 100%;
	display:-ms-flex;
	display:-o-flex;
	display:-moz-flex;
	display:-webkit-flex;
	display:flex;
	flex-direction: column;
}

.felx-container-bh-nav {
	flex-direction: row;
	display:-ms-flex;
	display:-o-flex;
	display:-moz-flex;
	display:-webkit-flex;
	display:flex;
}

.unser-bauernhof-untermenu img {
	width: 100%;
	height: 100%;
	float: left;
	display:-ms-flex;
	display:-o-flex;
	display:-moz-flex;
	display:-webkit-flex;
	display:flex;
}

/* Über uns Portraits Sektion --------------------------------- */


.portraits-container {
	display:-ms-flex;
	display:-o-flex;
	display:-moz-flex;
	display:-webkit-flex;
	display:flex;
	flex-direction: row;
}

.img-container{
	display:-ms-flex;
	display:-o-flex;
	display:-moz-flex;
	display:-webkit-flex;
	display:flex;
	width:50%;
}

.img-container img {
	width: 100%;
	height: 100%;

}

.angaben-container {
	display:-ms-flex;
	display:-o-flex;
	display:-moz-flex;
	display:-webkit-flex;
	display:flex;

	background: #EEEEEE;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	width: 50%;
}

.angaben-container h2 {
	transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	font-weight: 400;
	font-size: 2.4vw;
	line-height: 2.8vw;
	color: #9E9E9E;
	text-align: center;

	position:absolute; 
	width: 100%;
	margin-top: 25%;
	transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-webkit-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;

	visibility: visible;
	opacity: 0;
}

.angaben-container p {
	transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	display: block;
	width: 100%;
	clear: both;
	text-align: center;
	font-size: 1.1vw;
	line-height: 2vw;

	position:absolute; 
	width: 100%;
	margin-top: 30%;
	transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-webkit-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	visibility: visible;
	opacity: 0;
}

/* Unsere Tiere Slider Sektion -> grau improvisiert --------------------------------- */

.slider {

}

.slider-uebercontainer {

}

.grau-container {

}

/* Über uns transitions --------------------------------- */

.portraits-container:hover .zoom {
	visibility: visible;
	opacity: 1;
	-moz-transition:all 0.8s ease-in-out;
	-webkit-transition:all 0.8s ease-in-out;
	-o-transition:all 0.8s ease-in-out;
	-ms-transition:all 0.8s ease-in-out;
	transition:all 0.8s ease-in-out;
	-moz-transform: scale(1.03);
	-webkit-transform: scale(1.03);
	-o-transform: scale(1.03);
	-ms-transform: scale(1.0);
	transform: scale(1.03);
}

/* Events --------------------------------- */


.anfragen {
	padding: 2vw 10vw 8vw;
	text-align: center;
}

.anfragen h3 {
	font-weight: 300;
}

.anfragen a {
	color: #9E9E9E;
	font-weight: 600;
	font-size: 2.8vw;
	line-height: 2.8vw;
	text-decoration: none;
}

.anfragen a:hover {
	color: #000000;
	font-weight: 600;
	font-size: 2.8vw;
	line-height: 2.8vw;
	text-decoration: none;
}

/* Zitat --------------------------------- */

.zitat {
	padding: 2vw 10vw 0.3vw;
	text-align: center;
	color: #9E9E9E;

}

.zitat h1 {
	font-weight: 400;
	font-style: italic;
	font-size: 2.6vw;
	line-height: 2.8vw;

}

.zitat h6 {
	font-weight: 400;
	font-size: 1.1vw;
	line-height: 1.3vw;
	margin-top: 0vw;
}

/* Main Navigation --------------------------------- */



.main-navigation {
	margin-top: -5px; /* vorübergehend */
	display:-ms-flex;
	display:-o-flex;
	display:-moz-flex;
	display:-webkit-flex;
	display:flex;

}

.nav-container {
	min-width: 100%;
	display:-ms-flex;
	display:-o-flex;
	display:-moz-flex;
	display:-webkit-flex;
	display:flex;
	flex-direction: column;
}

.flex-container1 {
	display:-ms-flex;
	display:-o-flex;
	display:-moz-flex;
	flex-direction: row;
	display:-webkit-flex;
	display:flex;

}

.flex-container2 {
	display:-ms-flex;
	display:-o-flex;
	display:-moz-flex;
	flex-direction: row;
	display:-webkit-flex;
	display:flex;

}

.nav-container img {
	width: 100%;
	height: 100%;
	float: left;
	display:-ms-flex;
	display:-o-flex;
	display:-moz-flex;
	display:-webkit-flex;
	display:flex;

}

.view {
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	width: 100%;

}



.effect .mask {
	position:absolute; /* Center the mask */
	top:0;
	left:0;
	width:100%;
	height:100%;
	cursor:pointer;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.75);
	opacity:1;
	visibility:visible;
	-moz-transition:all 0.8s ease-in-out;
	-webkit-transition:all 0.8s ease-in-out;
	-o-transition:all 0.8s ease-in-out;
	-ms-transition:all 0.8s ease-in-out;
	transition:all 0.8s ease-in-out;
}

.effect:hover .mask {
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.75);
	visibility:hidden;
}

.effect img {
	transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-webkit-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	
}

.effect:hover img {
	transform: scale(1.02);
	-moz-transform: scale(1.02);
	-webkit-transform: scale(1.02);
	-o-transform: scale(1.02);
	-ms-transform: scale(1.02);
}

.navigation-title {
	z-index: 1000;
	color: white;
	position:absolute; 
	width: 100%;
	margin-top: 33%;
	font-weight: 400;
	font-size: 2.5vw;
	transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-webkit-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
}

.effect:hover .navigation-title {
	transform: scale(0.98);
	-moz-transform: scale(0.98);
	-webkit-transform: scale(0.98);
	-o-transform: scale(0.98);
	-ms-transform: scale(0.98);
}